    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Contact</h2>
                    <p>For a full version of my CV, do not hesitate to contact me.</p>

                    <ul class="list-inline banner-social-buttons">

                    <li>
                        <a href="mailto:nrama080@uottawa.ca" class="btn btn-default btn-lg"><i class="fa fa-email fa-fw"></i> <span class="network-name">email</span></a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/in/neya-ramanan-045186145/" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">linkedin</span></a>
                    </li>

                </ul>
                </div>
            </div>
        </div>
    </section>
