    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Contact</h2>
                    <p>For a full version of my CV, do not hesitate to contact me.</p>

                    <ul class="list-inline banner-social-buttons">

                    <li>
                        <a href="mailto:email@nith.dev" class="btn btn-default btn-lg"><i class="fa fa-email fa-fw"></i> <span class="network-name">email</span></a>
                    </li>

                    <li>
                        <a href="https://github.com/nskha101/" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">github</span></a>
                    </li>

                </ul>
                </div>
            </div>
        </div>
    </section>
